.checkoutSteps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

.checkoutSteps::before {
    display: none;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    color: #aaa;
    font-size: 14px;
    text-align: center;
}

.step.active {
    color: #007bff;
}

.stepNumber {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #e0e0e0;
}

.step.active .stepNumber {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.stepConnector {
    flex: 1;
    max-width: 120px;
    height: 2px;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease-in-out;
}

.stepConnector.active {
    background-color: #007bff;
}